@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Italiana:regular&display=swap");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-clock:before {
  content: "\e900";
}

._icon-geo:before {
  content: "\e901";
}

._icon-play:before {
  content: "\e902";
}

._icon-quote:before {
  content: "\e903";
}

._icon-s-inst:before {
  content: "\e904";
}

._icon-slider-arrow:before {
  content: "\e905";
}

._icon-s-medium:before {
  content: "\e906";
}

._icon-s-tiktok:before {
  content: "\e907";
}

._icon-s-tw:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #222220;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
[class*=__container] {
  max-width: 100.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block-header {
  display: grid;
  gap: 1.25rem;
  justify-items: start;
}
.block-header__label {
  line-height: 156.25%;
  text-transform: capitalize;
}
.block-header__title {
  font-family: "Italiana";
  text-transform: capitalize;
  color: #9d875c;
  font-size: 3rem;
}
.block-header__text {
  display: grid;
  gap: 1.25rem;
  line-height: 156.25%;
}
.block-header__text blockquote {
  font-style: italic;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (min-width: 100.125em) {
  .header__container {
    min-height: 9.5rem;
  }
}
@media (min-width: 20em) and (max-width: 100.125em) {
  @supports (min-height: clamp( 4.375rem , 3.09574883rem  +  6.3962558502vw , 9.5rem )) {
    .header__container {
      min-height: clamp( 4.375rem , 3.09574883rem  +  6.3962558502vw , 9.5rem );
    }
  }
  @supports not (min-height: clamp( 4.375rem , 3.09574883rem  +  6.3962558502vw , 9.5rem )) {
    .header__container {
      min-height: calc(4.375rem + 5.125 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    min-height: 4.375rem;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    gap: 0rem;
    grid-template-columns: auto 1fr auto auto;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (min-width: 100.125em) {
  .header__logo {
    width: 13.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 100.125em) {
  @supports (width: clamp( 5rem , 2.8627145086rem  +  10.6864274571vw , 13.5625rem )) {
    .header__logo {
      width: clamp( 5rem , 2.8627145086rem  +  10.6864274571vw , 13.5625rem );
    }
  }
  @supports not (width: clamp( 5rem , 2.8627145086rem  +  10.6864274571vw , 13.5625rem )) {
    .header__logo {
      width: calc(5rem + 8.5625 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 20em) {
  .header__logo {
    width: 5rem;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .header__logo path {
    fill: #fff;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1.875rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #c1ab81;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #c1ab81;
  }
}
@media (max-width: 47.99875em) and (min-width: 100.125em) {
  .menu__body::before {
    height: 9.5rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 100.125em) {
  @supports (height: clamp( 4.375rem , 3.09574883rem  +  6.3962558502vw , 9.5rem )) {
    .menu__body::before {
      height: clamp( 4.375rem , 3.09574883rem  +  6.3962558502vw , 9.5rem );
    }
  }
  @supports not (height: clamp( 4.375rem , 3.09574883rem  +  6.3962558502vw , 9.5rem )) {
    .menu__body::before {
      height: calc(4.375rem + 5.125 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    height: 4.375rem;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.1875rem;
}
@media (min-width: 100.125em) {
  .menu__list {
    -webkit-column-gap: 2.9375rem;
       -moz-column-gap: 2.9375rem;
            column-gap: 2.9375rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 100.125em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem )) or (column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem );
         -moz-column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem );
              column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem )) or (column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2 * (100vw - 47.99875rem) / 52.12625);
         -moz-column-gap: calc(0.9375rem + 2 * (100vw - 47.99875rem) / 52.12625);
              column-gap: calc(0.9375rem + 2 * (100vw - 47.99875rem) / 52.12625);
    }
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.menu__link {
  display: inline-block;
  color: #c1ab81;
  line-height: 156%;
  font-weight: 300;
}
@media (max-width: 47.99875em) {
  .menu__link {
    color: #fff;
    font-size: 1.75rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}

.action-header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.1875rem;
}
@media (min-width: 100.125em) {
  .action-header {
    -webkit-column-gap: 2.9375rem;
       -moz-column-gap: 2.9375rem;
            column-gap: 2.9375rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 100.125em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem )) or (column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem ))) {
    .action-header {
      -webkit-column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem );
         -moz-column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem );
              column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem )) or (column-gap: clamp( 0.9375rem , -0.9041344932rem  +  3.8368384451vw , 2.9375rem ))) {
    .action-header {
      -webkit-column-gap: calc(0.9375rem + 2 * (100vw - 47.99875rem) / 52.12625);
         -moz-column-gap: calc(0.9375rem + 2 * (100vw - 47.99875rem) / 52.12625);
              column-gap: calc(0.9375rem + 2 * (100vw - 47.99875rem) / 52.12625);
    }
  }
}
@media (max-width: 47.99875em) {
  .action-header {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .action-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.action-header__link {
  display: inline-block;
  color: #c1ab81;
  line-height: 156%;
  font-weight: 300;
}
@media (max-width: 47.99875em) {
  .action-header__link {
    color: #fff;
  }
}
@media (any-hover: hover) {
  .action-header__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 61.99875em) {
  .action-header__button {
    padding: 0.5rem 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .action-header__button {
    border: 0.0625rem solid #fff;
    color: #fff;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
}
@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #c1ab81;
  }
  .menu-open .icon-menu span, .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.footer {
  position: relative;
  background-color: #222220;
  color: #c1ab81;
}
.footer::before, .footer::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10.875rem;
}
.footer::before {
  content: "";
  left: 0;
  bottom: 0;
  background: url("@img/footer-decor.svg") left bottom/100% no-repeat;
}
.footer::after {
  content: "";
  right: 0;
  top: 0;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background: url("@img/footer-decor.svg") left bottom/100% no-repeat;
}
.footer__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 100.125em) {
  .footer__body {
    padding-top: 5.75rem;
  }
}
@media (min-width: 20em) and (max-width: 100.125em) {
  @supports (padding-top: clamp( 2.5rem , 1.6887675507rem  +  4.0561622465vw , 5.75rem )) {
    .footer__body {
      padding-top: clamp( 2.5rem , 1.6887675507rem  +  4.0561622465vw , 5.75rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 1.6887675507rem  +  4.0561622465vw , 5.75rem )) {
    .footer__body {
      padding-top: calc(2.5rem + 3.25 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 20em) {
  .footer__body {
    padding-top: 2.5rem;
  }
}
@media (min-width: 100.125em) {
  .footer__body {
    padding-bottom: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 100.125em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.6409906396rem  +  1.1700468019vw , 2.8125rem )) {
    .footer__body {
      padding-bottom: clamp( 1.875rem , 1.6409906396rem  +  1.1700468019vw , 2.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.6409906396rem  +  1.1700468019vw , 2.8125rem )) {
    .footer__body {
      padding-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 20em) {
  .footer__body {
    padding-bottom: 1.875rem;
  }
}
.footer__content {
  border-right: 0.0625rem solid #c1ab81;
}
.footer__logo {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (min-width: 100.125em) {
  .footer__logo {
    width: 17.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 100.125em) {
  @supports (width: clamp( 5rem , 1.7706708268rem  +  16.1466458658vw , 17.9375rem )) {
    .footer__logo {
      width: clamp( 5rem , 1.7706708268rem  +  16.1466458658vw , 17.9375rem );
    }
  }
  @supports not (width: clamp( 5rem , 1.7706708268rem  +  16.1466458658vw , 17.9375rem )) {
    .footer__logo {
      width: calc(5rem + 12.9375 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 20em) {
  .footer__logo {
    width: 5rem;
  }
}
@media (min-width: 100.125em) {
  .footer__copy {
    padding-top: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 100.125em) {
  @supports (padding-top: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem )) {
    .footer__copy {
      padding-top: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem );
    }
  }
  @supports not (padding-top: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem )) {
    .footer__copy {
      padding-top: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 20em) {
  .footer__copy {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 100.125em) {
  .footer__copy {
    padding-bottom: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 100.125em) {
  @supports (padding-bottom: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem )) {
    .footer__copy {
      padding-bottom: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem )) {
    .footer__copy {
      padding-bottom: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 20em) {
  .footer__copy {
    padding-bottom: 0.9375rem;
  }
}

.menu-footer__title {
  list-style: none;
  font-family: "Italiana";
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
}
.menu-footer__title::marker, .menu-footer__title::-webkit-details-marker {
  display: none;
}
.menu-footer__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.1875rem;
}
@media (min-width: 100.125em) {
  .menu-footer__list {
    -webkit-column-gap: 2.625rem;
       -moz-column-gap: 2.625rem;
            column-gap: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 100.125em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem )) or (column-gap: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem ))) {
    .menu-footer__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem );
         -moz-column-gap: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem );
              column-gap: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem )) or (column-gap: clamp( 0.9375rem , 0.5162831513rem  +  2.1060842434vw , 2.625rem ))) {
    .menu-footer__list {
      -webkit-column-gap: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 80.125);
         -moz-column-gap: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 80.125);
              column-gap: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 80.125);
    }
  }
}
@media (max-width: 20em) {
  .menu-footer__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.menu-footer__link {
  font-weight: 300;
  line-height: 156%;
  display: inline-block;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

.subscribe {
  display: grid;
  justify-items: end;
  border-left: 0.0625rem solid #c1ab81;
}