//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	padding: toRem(10) toRem(40);
	font-weight: 300;
	line-height: 156%;
	border-radius: 50px;
	background-color: #fff;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: opacity 0.3s;
		opacity: 0.5;
		background: url("@img/bg-button.jpg") center no-repeat;
	}
	&--fw {
		width: 100%;
	}
	&--border {
		transition: all 0.3s;
		background-color: transparent;
		border: toRem(1) solid $bgGold;
		color: $bgGold;
		&::before {
			opacity: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				border: toRem(1) solid transparent;
			}
		}
	}
	span {
		position: relative;
	}

	@media (any-hover: hover) {
		&:hover {
			color: $mainColor;
			&::before {
				content: "";
				opacity: 1;
			}
		}
	}
}
