//====================================================================================================
.hero {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	// .hero__container
	&__container {
		display: grid;
		align-items: center;
		gap: toRem(30);
		grid-template-columns: 1fr 72%;
		@include adaptiveValue("padding-top", 150, 80);
		padding-bottom: toRem(50);
		position: relative;
		z-index: 2;
		flex-grow: 1;
		@media (max-width: em(1199.98)) {
			grid-template-columns: auto;
		}
	}
	&__body {
	}
	// .hero__content
	&__content {
		position: relative;
		z-index: 3;
		@media (min-width: em(1200)) {
			margin-right: -55%;
		}
		@media (max-width: em(1199.98)) {
			text-align: center;
		}
	}
	// .hero__title
	&__title {
		@include adaptiveValue("font-size", 100, 42);
		font-family: "Italiana";
		color: $bgGold;
		text-transform: capitalize;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 15);
		}
	}
	// .hero__button
	&__button {
	}
	// .hero__slider
	&__slider.swiper {
		position: relative;
		padding: toRem(50) toRem(30);
		z-index: 2;
		@media (max-width: em(1199.98)) {
			margin: toRem(0) toRem(-15);
		}
	}
	// .hero__wrapper
	&__wrapper {
	}
	// .hero__slide
	&__slide {
	}
	// .hero__controll
	&__controll {
		z-index: 4;
		position: absolute;
		bottom: toRem(30);
		right: toRem(15);
		display: flex;
		gap: toRem(30);
		@media (max-width: em(1199.98)) {
			justify-content: center;
			width: 100%;
			right: 0;
		}
	}
	// .hero__arrow
	&__arrow {
		color: $bgGold;
		font-size: toRem(16);
		transition: transform 0.3s;
		// .hero__arrow--left
		&--left {
			transform: rotate(-180deg);
			@media (any-hover: hover) {
				&:hover {
					transform: rotate(-180deg) scale(1.5);
				}
			}
		}
		// .hero__arrow--right
		&--right {
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.5);
				}
			}
		}
	}
	// .hero__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: top;
	}
}
.slide-hero {
	@include adaptiveValue("flex-basis", 742, 230);
	// .slide-hero__content
	&__content {
		aspect-ratio: 1 / 1;
		border: toRem(1) solid $bgGold;
		@include adaptiveValue("padding", 24, 10);
		border-radius: 50%;
		flex: 1 1 auto;
		position: relative;
	}
	// .slide-hero__body
	&__body {
		background: linear-gradient(135deg, rgba(20, 17, 10, 1) 1%, rgba(33, 28, 22, 1) 12%, rgba(20, 17, 10, 1) 100%);
		border-radius: 50%;
		width: 100%;
		aspect-ratio: 1 / 1;
		overflow: hidden;
		position: relative;
	}
	// .slide-hero__image
	&__image {
		max-width: 100%;
		margin-top: -10%;
	}
	// .slide-hero__top-image
	&__top-image {
		width: 100%;
		height: 50%;
		overflow: hidden;
		aspect-ratio: 1 / 1;
		margin-top: -110%;
		img {
			max-width: 100%;
		}
	}
}
//===================================================================================================
.about-us {
	@include adaptiveValue("padding-top", 190, 30);
	@include adaptiveValue("padding-bottom", 80, 30);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// opacity: 0.2;
		background: url("@img/about-us/bg.png") 0 0 no-repeat;
	}
	// .about-us__container
	&__container {
		position: relative;
	}
	&__body {
		display: flex;
		@include adaptiveValue("gap", 134, 30);
		align-items: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 98, 20);
		}
		@media (max-width: $tablet) {
			flex-direction: column-reverse;
		}
	}
	// .about-us__image
	&__image {
		flex: 0 0 51.25%;
		border: 1px solid $goldColor;
		padding: toRem(15);
		img {
			max-width: 100%;
		}
	}
	// .about-us__contetn
	&__content {
		flex: 1 1 auto;
	}
	// .about-us__block-header
	&__block-header {
	}
	.about-us {
		// .about-us__services
		&__services {
		}
	}
}
.services-about-us {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: toRem(30);
	max-width: toRem(1024);
	margin: 0 auto;
	text-align: center;
	@media (max-width: em(610)) {
		justify-content: center;
	}
	// .services-about-us__item
	&__item {
		display: grid;
		gap: toRem(29);
		align-items: center;
		justify-items: center;
		@media (any-hover: hover) {
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	// .services-about-us__icon
	&__icon {
		padding: toRem(20);
		border-radius: 50%;
		width: toRem(140);
		height: toRem(140);
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: opacity 0.3s;
			opacity: 0.5;
			background: url("@img/bg-button.jpg") center no-repeat;
		}
		img {
			position: relative;
			max-width: 100%;
			max-height: 100%;
		}
	}
	// .services-about-us__label
	&__label {
		font-family: "Italiana";
		font-size: toRem(24);
		text-transform: capitalize;
	}
}
//===================================================================================================
.products {
	background: url("@img/bg-products.png") center/cover no-repeat;
	@include adaptiveValue("padding-top", 90, 30);
	@include adaptiveValue("padding-bottom", 170, 30);
	// .products__container
	&__container {
		display: grid;
	}
	// .products__block-header
	&__block-header {
		text-align: center;
		max-width: toRem(460);
		margin: 0 auto;
		@include adaptiveValue("margin-bottom", 48, 25);
	}
	// .products__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(350), 1fr));
		@include adaptiveValue("gap", 53, 20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 54, 30);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
		}
	}
	// .products__item
	&__item {
	}
	// .products__button&__button {}
	&__button {
		justify-self: center;
	}
}

.item-product {
	// .item-product__header
	&__header {
		border: toRem(1) solid $goldColor;
		position: relative;
		padding: toRem(40);
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: opacity 0.3s;
			// opacity: 0.5;
			background: url("@img/bg-gold.jpg") center/cover no-repeat;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			background-color: rgba(60, 38, 12, 0.35);
			transition: opacity 0.3s;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 39, 15);
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					content: "";
					opacity: 1;
				}
				.item-product__add-to-cart {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .item-product__image-ibg
	&__image-ibg {
		// .item-product__image-ibg--contain
		&--contain {
			aspect-ratio: 1/1;
			img {
				filter: drop-shadow(10px 10px 10px rgba(60, 38, 12, 0.35));
			}
		}
	}
	// .item-product__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: toRem(15);
		justify-content: space-between;
	}
	// .item-product__title
	&__title {
		font-family: "Italiana";
		font-size: 24px;
		text-transform: capitalize;
	}
	// .item-product__link-title
	&__link-title {
		display: inline-block;
		line-height: 120%;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}
	// .item-product__price
	&__price {
		font-size: 24px;
		text-transform: capitalize;
	}
	// .item-product__rating
	&__rating {
		grid-column: span 2;
	}
	// .item-product__add-to-cart
	&__add-to-cart {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s;
		z-index: 2;
	}
}
.rating {
	display: flex;
	gap: toRem(10);
	// .rating__item
	&__item {
		background: url("@img/icons/star.svg") 0 0 no-repeat;
		aspect-ratio: 1/1;
		flex: 0 0 toRem(26);
		&--active {
			background: url("@img/icons/star-fill.svg") 0 0 no-repeat;
		}
	}
}
//===================================================================================================
.services {
	@include adaptiveValue("padding-top", 175, 30);
	@include adaptiveValue("padding-bottom", 175, 30);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url("@img/services/bg.jpg") center/ cover no-repeat;
	}
	// .services__container
	&__container {
		display: flex;
		position: relative;
		z-index: 2;
		align-items: flex-start;
		@media (max-width: $tablet) {
			flex-direction: column-reverse;
		}
	}
	// .services__image
	&__image {
		flex: 0 1 50%;
		padding: toRem(15);
		border: toRem(1) solid #fff;
		img {
			max-width: 100%;
		}
	}

	// .services__block-header
	&__block-header {
		flex: 0 1 50%;
		align-self: center;
		@media (min-width: $tablet) {
			max-width: toRem(460);
			@include adaptiveValue("margin-left", 168, 50, 2, $containerWidth, 991.98);
		}
		@media (max-width: $tablet) {
			margin-bottom: toRem(30);
			&:not(:last-child) {
			}
		}
	}
}
